<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    
    <form action="/validar" method="post">
        cedula:
        <input type="number" name="ced" id="ced"><br><br>
        nombre:
        <input type="text" name="nom" id="nom"><br><br>
        apellido:
        <input type="text" name="apell" id="apell"><br><br>
        correo:
        <input type="email" name="correo" id="correo"><br><br>
        contrasenia:
        <input type="password" name="pass" id="pass"><br><br>

        <input type="submit" value="Registrar">

    </form>
    
</body>
</html>